:root {
  --gradient-color-stops: #ffffff;
}

.project-type::before {
  content: '|';
  color: #4fd1c5;
  display: inline-block;
  width: 5px;
  background-color: #4fd1c5;
  margin-right: 5px;
  border-left: 1px solid #3c366b;
}

.project-card {
  border: 1px solid #e2e8f0;
  cursor: pointer;
  text-decoration: none;
  color: #3c366b;
  width: 200px;
}

.project-img {
  width: 100%;
  opacity: 0.9;
  vertical-align: middle;
}

.project-img:hover {
  opacity: 1;
}

.project-img h4 {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  color: #ffffff;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 5px;
  position: absolute;
  opacity: 0.8;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.project-card:hover {
  color: #3c366b;
}

.project-content {
  padding: 5px 10px;
}

.project-content .project-details {
  font-size: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
}

.project-content .project-stats {
  font-size: 0.7rem;
}

.project-content .project-stats .project-published::after {
  content: '.';
  font-size: 1.2rem;
  line-height: 10px;
  font-weight: bolder;
  position: relative;
  padding: 0 5px;
  bottom: 2px;
}

.project-content .project-tech {
  margin-top: 5px;
}

.project-content .project-tech span {
  font-size: 0.7rem;
  display: inline-block;
  color: #3c366b;
  border-color: #4fd1c5;
  border-width: 0.1px;
  padding: 0.1em 0.8em;
  border-radius: 2rem;
  margin-right: 5px;
}

.project-content .project-tech span:hover {
  background: #4fd1c530;
}
