/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';

.p-sm {
  font-size: small;
}

/* Table defaults */
table {
  border-collapse: collapse;
  border: 1px solid #94a3b8;
  margin: 10px 20px;
}

td,
th {
  border: 1px solid #94a3b8;
  padding: 5px 10px;
}

th {
  background-color: #d1d5db;
}

td {
  text-align: left;
}
